{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_title %}
    {{ super() }}
    
    {% endblock %}
{% block body %}
    
    <h2>Info</h2>
    <hr width="100px" color="#ccc" size="1px" />
    <br/>
    <p class="text">
        This website serves data for Adrian's microlensing project using Palomar Transient Factory (PTF) data.
        <br/><br/>
        The project is hosted on Github <a href="https://github.com/adrn/PTF">here</a>. View at your own discretion -- I make no 
        promises about the cleanliness of my code!
        <br/><br/>
        If you're interested in how I made the site, I used <a href="flask.pocoo.org/">Flask</a>, and that code is also hosted on Github 
        <a href="https://github.com/adrn/ptf_web">here</a>. 
        <br/><br/>
        Email Adrian for more info: <font color="#666">adrn at astro.columbia.edu</font>
    </p>
    <!--<pre><span class=ig>some code!</span></pre>-->

<!--<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>-->
{% endblock %}