<!doctype html>

<html>

<head>
    {% block head %}
        <title>{% block title %}PTF Microlensing Candidates{% endblock %}</title>
        <meta charset=utf-8>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <div id="header">
            {% block body_title %}
                <h1 style="display: inline;"><span>{{ self.title() }}</span></h1>
                {% if light_curve %}
                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    <font class="key">Field ID, CCD ID, Source ID:</font> <font class="val">{{light_curve['field_id']}}, {{light_curve['ccd_id']}}, {{light_curve['source_id']}}</font>
                    <!--&nbsp;&nbsp;|&nbsp;&nbsp;
                    <font class="key">CCD ID:</font> <font class="val">{{light_curve['ccd_id']}}</font>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <font class="key">Source ID:</font> <font class="val">{{light_curve['source_id']}}</font>-->
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <font class="key">RA/Dec:</font> <font class="val">{{ "{:.5f}".format(light_curve['ra']) }} {{ "{:.5f}".format(light_curve['dec']) }}</font>
                {% endif %}
            {% endblock %}
            {% for message in get_flashed_messages() %}
                <span class="message">--> {{ message }}</span>
            {% endfor %}
        </div><!-- #header-->

        <div id="menu">
            <ul class="navigation">
                <li><a href="{{ url_for('general.index') }}">home</a>&nbsp;&nbsp;//</li>
                <li><a href="{{ url_for('data.index') }}">data</a>&nbsp;&nbsp;//</li>
                {% if g.user %}
                    <li><a href="{{ url_for('general.profile') }}">profile</a>&nbsp;&nbsp;//</li>
                    <li><a href="{{ url_for('general.logout') }}">sign out</a>&nbsp;&nbsp;<span class="info">Logged in as: [{{ g.user.name }}]</span></li>
                {% else %}
                    <li><a href="{{ url_for('general.login') }}">sign in</a>
                {% endif %}
            </ul>
        </div><!-- menu -->

        <div id="content"><!-- content -->
            {% block body %}{% endblock %}
        </div><!-- #content-->
        <!-- #footer -->
        <!--
        <div id="footer">
            &copy; Copyright 2012 by <a href="http://adrianpricewhelan.com/">APW</a> //
            {% if g.user %}
            <a href="{{ url_for('general.profile') }}">profile</a> /
            <a href="{{ url_for('general.logout') }}" title="signed in as {{
              g.user.name }} [{{ g.user.openid }}]{% if g.user.is_admin
              %} - Administrator{% endif %}">sign out</a>
            {% else %}
            <a href="{{ url_for('general.login') }}">sign in</a>
            {% endif %}
        </div>
        -->
    </div><!-- #wrapper -->
</body>
</html>