{% extends "layout.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/datatables/css/jquery.dataTables.css') }}">
    <script src="{{ url_for('static', filename='js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables/js/dataTables.fnGetHiddenNodes.js') }}"></script>

    <script type="text/javascript">
        function toggleUnknown(dataTable) {
                if ($("#onlyUnknown").attr("checked") == "checked") {
                    dataTable.fnFilter('none', 4);
                } else {
                    dataTable.fnFilter('', 4);
                }
            }
    </script>

{% endblock %}

{% block body %}

    <h2>Light Curves</h2>
    <hr width="100px" color="#ccc" size="1px" />
    <br/>
    {% if field_id %}
        <form id="inspectedForm" action="/mongo/update_field_inspected">
            <h3>Inspected</h3>
            {% if was_inspected == True %}
                <input type="checkbox" name="inspected" value="1" checked="1"/>
            {% else %}
                <input type="checkbox" name="inspected" value="1" />
            {% endif %}
            <input type="hidden" name="field_id" value="{{ field_id }}" />
        </form>

        <script type="text/javascript">
            $(document).ready(function(){

                $("#inspectedForm").submit(function(){
                    $.ajax({
                        type: "POST",
                        url: "/mongo/update_field_inspected",
                        data: $("#inspectedForm").serialize(),
                        dataType: "json",

                        success: function(msg){
                            //console.log("SUCCESS!");
                        },
                        error: function(){
                            //console.log("ERROR!");
                        }
                    });

                    return false;

                });

                $("input[name=inspected]").change(function () {
                    $('#inspectedForm').submit();
                });
            });
        </script>

    {% endif %}
    <table id="candidateList" cellspacing="0">
        <thead>
            <tr>
                <th>Field ID</th>
                <th>CCD ID</th>
                <th>Source ID</th>
                <th>&Delta;&chi;<sup>2</sup></th>
                <th>J</th>
                <th>K</th>
                <th>&eta;</th>
                <th>&chi;<sup>2</sup></th>
                <th>Tags</th>
                <th>Viewed</th>
                <!--<th>RA</th>
                <th>Dec</th>
                <th>Num. of R-band<Br/>Observations</th>-->
            </tr>
            <tr>
                <th><input type="text" name="search_field_id" placeholder="Search fields" class="search_init" /></th>
                <th><input type="text" name="search_ccd_id" placeholder="Search ccds" class="search_init" /></th>
                <th><input type="text" name="search_source_id" placeholder="Search sources" class="search_init" /></th>
                <th><input type="text" name="search_delta_chi_sq" placeholder="Search " class="search_init" /></th>
                <th><input type="text" name="search_j" placeholder="Search J" class="search_init" /></th>
                <th><input type="text" name="search_k" placeholder="Search K" class="search_init" /></th>
                <th><input type="text" name="search_eta" placeholder="Search eta" class="search_init" /></th>
                <th><input type="text" name="search_chisqr" placeholder="Search chisqr" class="search_init" /></th>
                <th><input type="text" name="search_status" placeholder="Search status" class="search_init" /></th>
                <th><input type="text" name="search_status" placeholder="Search viewed" class="search_init" /></th>
            </tr>
        </thead>

        <!--<tfoot>
            <tr>
                <th><input type="text" name="search_field_id" value="Search fields" class="search_init" /></th>
                <th><input type="text" name="search_ccd_id" value="Search ccds" class="search_init" /></th>
                <th><input type="text" name="search_source_id" value="Search sources" class="search_init" /></th>
                <th><input type="text" name="search_delta_chi_sq" value="Search " class="search_init" /></th>
                <th><input type="text" name="search_j" value="Search J" class="search_init" /></th>
                <th><input type="text" name="search_k" value="Search K" class="search_init" /></th>
                <th><input type="text" name="search_eta" value="Search eta" class="search_init" /></th>
                <th><input type="text" name="search_chisqr" value="Search chisqr" class="search_init" /></th>
                <th><input type="text" name="search_status" value="Search status" class="search_init" /></th>
                <th><input type="text" name="search_status" value="Search viewed" class="search_init" /></th>
            </tr>
        </tfoot>-->

        <tbody>

        </tbody>

    </table>

    <!--<pre><span class=ig>some code!</span></pre>-->

    <script type="text/javascript">
        var asInitVals = new Array();
        var dataTable;

        var alreadyLinked = false;

        $(document).ready(function() {

            var ajax_source = "/json/candidate_list";

            dataTable = $('#candidateList').dataTable( {
                "bProcessing": true,
                "bStateSave": true,
                {% if field_id %}
                "sAjaxSource": '/field/{{ field_id }}',
                {% elif tag %}
                "sAjaxSource": '/tagged/{{ tag }}',
                {% endif %}
                "aoColumns" : [
                    { "mData" : "field_id" },
                    { "mData" : "ccd_id" },
                    { "mData" : "source_id" },
                    { "mData" : "indices.delta_chi_squared" },
                    { "mData" : "indices.j" },
                    { "mData" : "indices.k" },
                    { "mData" : "indices.eta" },
                    { "mData" : "microlensing_fit.chisqr" },
                    { "mData" : "tags" },
                    { "mData" : "viewed" }
                ],
                "aoColumnDefs": [
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.indices.delta_chi_squared; // current value
                            return parseInt(s).toString();
                        },
                        "aTargets": [ 3 ]
                    },
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.indices.j; // current value
                            return parseInt(s).toString();
                        },
                        "aTargets": [ 4 ]
                    },
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.indices.k; // current value
                            return parseFloat(s).toFixed(3);
                        },
                        "aTargets": [ 5 ]
                    },
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.indices.eta; // current value
                            return parseFloat(s).toFixed(3);
                        },
                        "aTargets": [ 6 ]
                    },
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.microlensing_fit.chisqr; // current value
                            if (s == undefined) {
                                return "n/a";
                            } else {
                                return parseFloat(s).toFixed(3);
                            }
                        },
                        "aTargets": [ 7 ]
                    },
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.tags; // current value
                            return s.join();
                        },
                        "aTargets": [ 8 ]
                    }
                ],
                "bPaginate" : false,
                "bSort" : true,
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },

                "fnDrawCallback": function () {

                    if (alreadyLinked == true) {
                        var visibleRows = dataTable.fnGetVisibleNodes();

                        var data = new Array();
                        var field_ids = new Array();
                        var ccd_ids = new Array();
                        var source_ids = new Array();

                        for (var ii=0; ii < visibleRows.length; ii++) {
                            var field_id = visibleRows[ii].children[0].innerText,
                                ccd_id = visibleRows[ii].children[1].innerText,
                                source_id = visibleRows[ii].children[2].innerText;
                            //console.log("field " + field_id + "  ccd " + ccd_id + "  source_id " + source_id);
                            field_ids.push(field_id);
                            ccd_ids.push(ccd_id);
                            source_ids.push(source_id);
                            //data.push([field_id, ccd_id, source_id]);
                        }
                        //console.log(field_ids.length);
                        $.ajax( {
                            "url": "/mongo/save_table_state",
                            "data": JSON.stringify({"field_id" : field_ids, "ccd_id" : ccd_ids, "source_id" : source_ids}),
                            "dataType": "json",
                            "contentType" : "application/json",
                            "type": "POST",
                            "success": function () {
                            }
                        } );
                    }

                    if (alreadyLinked == false) {

                        if (($("#candidateList tbody tr").length >= 1) && ($("#candidateList tbody tr").children()[0].innerHTML != "Loading...")) {
                            $("#candidateList tbody tr").click( function( e ) {
                                var field = $(this).children()[0].innerHTML;
                                var ccd_id = $(this).children()[1].innerHTML;
                                var source_id = $(this).children()[2].innerHTML;

                                var url = "/candidates/plot?field_id=" + field + "&ccd_id=" + ccd_id + "&source_id=" + source_id;

                                window.open(
                                  url,
                                  '_blank' // <- This is what makes it open in a new window.
                                );

                            });

                            $("#candidateList tbody tr").mouseover( function(e) {
                                $(this).attr("oldClass", $(this).attr("class"));
                                $(this).attr("class", "mouseover");
                                $(this).css("cursor", "pointer");
                            });

                            $("#candidateList tbody tr").mouseout( function(e) {
                                $(this).attr("class", $(this).attr("oldClass"));
                                $(this).css("cursor", "default");
                            });

                            alreadyLinked = true;
                        }
                    }

                }
            } );

            $("tfoot input").keyup( function () {
                /* Filter on the column (the index) of this element */
                dataTable.fnFilter( this.value, $("tfoot input").index(this) );
            } );

            /*
             * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
             * the footer
             */
            $("tfoot input").each( function (i) {
                asInitVals[i] = this.value;
            } );

            $("tfoot input").focus( function () {
                if ( this.className == "search_init" )
                {
                    this.className = "";
                    this.value = "";
                }
            } );

            $("tfoot input").blur( function (i) {
                if ( this.value == "" )
                {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            } );

        } );
    </script>

<!--<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>-->
{% endblock %}