{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/datatables/css/jquery.dataTables.css') }}">
    <script src="{{ url_for('static', filename='js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables/js/dataTables.fnGetHiddenNodes.js') }}"></script>
    
    <!--<script type="text/javascript">
        $(document).ready(function() {
            $("tr").click(function(){
                window.location = $(this).attr("url");
            });
            
            $("tr.even").hover(
                function(){
                    $(this).css({"background":"#80C3E0"});
                    $(this).css({"cursor":"pointer"});
                },
                function(){
                    $(this).css({"background":"#eee"});
                    $(this).css({"cursor":"default"});
                }
            );
            
            $("tr.odd").hover(
                function(){
                    $(this).css({"background":"#90DCFC"});
                    $(this).css({"cursor":"pointer"});
                },
                function(){
                    $(this).css({"background":"#fff"});
                    $(this).css({"cursor":"default"});
                }
            );
            
        });
    </script>-->
    
    <script type="text/javascript">
        function toggleUnknown(dataTable) {
                if ($("#onlyUnknown").attr("checked") == "checked") {
                    dataTable.fnFilter('none', 4);
                } else {
                    dataTable.fnFilter('', 4);
                }
            }
    </script>
    
{% endblock %}

{% block body %}
    
    <h2>Candidates</h2>
    <hr width="100px" color="#ccc" size="1px" />
    <br/>
    <h3>Only show unknown: </h3>
    <form name="tableConfig" style="display: inline;">
        <input type="checkbox" id="onlyUnknown" name="onlyUnknown" onChange="toggleUnknown(dataTable);" />
    </form>
    
    <table id="candidateList" cellspacing="0">
        <thead>
            <th>Field ID</th>
            <th>CCD ID</th>
            <th>Source ID</th>
            <th>&Delta;&chi;<sup>2</sup></th>
            <th>Status</th>
            <!--<th>RA</th>
            <th>Dec</th>
            <th>Num. of R-band<Br/>Observations</th>-->
        </thead>
        
        <tbody>
            
        </tbody>
        
        <tfoot>
            <tr>
                <th><input type="text" name="search_field_id" value="Search fields" class="search_init" /></th>
                <th><input type="text" name="search_ccd_id" value="Search ccds" class="search_init" /></th>
                <th><input type="text" name="search_source_id" value="Search sources" class="search_init" /></th>
                <th><input type="text" name="search_delta_chi_sq" value="Search " class="search_init" /></th>
                <th><input type="text" name="search_status" value="Search status" class="search_init" /></th>
            </tr>
        </tfoot>        
    </table>

    <!--<pre><span class=ig>some code!</span></pre>-->
    
    <script type="text/javascript">        
        var asInitVals = new Array();
        var dataTable;
        
        var alreadyLinked = false;
        
        $(document).ready(function() {
            
            var ajax_source = "/json/candidate_list";
            
            dataTable = $('#candidateList').dataTable( {
                "bProcessing": true,
                "bStateSave": true,
                "sAjaxSource": '/json/candidate_list',
                "aoColumns" : [
                    { "mData" : "field_id" },
                    { "mData" : "ccd_id" },
                    { "mData" : "source_id" },
                    { "mData" : "delta_chi_squared" },
                    { "mData" : "status" }
                ],
                "aoColumnDefs": [
                    {
                        "fnRender": function ( oObj ) {
                            var s = oObj.aData.delta_chi_squared; // current value
                            return parseInt(s).toString();
                        },
                        "aTargets": [ 3 ]
                    }
                ],
                "bPaginate" : false,
                "bSort" : true,
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "fnStateSave": function (oSettings, oData) {
                    // Send an Ajax request to the server with the state object
                    /*$.ajax( {
                        "url": "/mongo/save_table_state",
                        "data": oData,
                        "dataType": "json",
                        "method": "POST",
                        "success": function () {
                        }
                    } );*/
                },
                "fnDrawCallback": function () {
                    
                    if (alreadyLinked == true) {
                        var visibleRows = dataTable.fnGetVisibleNodes();
                        
                        var data = new Array();
                        var field_ids = new Array();
                        var ccd_ids = new Array();
                        var source_ids = new Array();
                        
                        for (var ii=0; ii < visibleRows.length; ii++) {
                            var field_id = visibleRows[ii].children[0].innerText,
                                ccd_id = visibleRows[ii].children[1].innerText,
                                source_id = visibleRows[ii].children[2].innerText;
                            //console.log("field " + field_id + "  ccd " + ccd_id + "  source_id " + source_id);
                            field_ids.push(field_id);
                            ccd_ids.push(ccd_id);
                            source_ids.push(source_id);
                            //data.push([field_id, ccd_id, source_id]);
                        }
                        //console.log(field_ids.length);
                        $.ajax( {
                            "url": "/mongo/save_table_state",
                            "data": JSON.stringify({"field_id" : field_ids, "ccd_id" : ccd_ids, "source_id" : source_ids}),
                            "dataType": "json",
                            "contentType" : "application/json",
                            "type": "POST",
                            "success": function () {
                            }
                        } );
                    }
                    
                    if (alreadyLinked == false) {
                            
                        $("#candidateList tbody tr").click( function( e ) {                        
                            var field = $(this).children()[0].innerText;
                            var ccd_id = $(this).children()[1].innerText;
                            var source_id = $(this).children()[2].innerText;
                            
                            var url = "/candidates/plot?field_id=" + field + "&ccd_id=" + ccd_id + "&source_id=" + source_id;
                            //window.location = url;
                            
                            window.open(
                              url,
                              '_blank' // <- This is what makes it open in a new window.
                            );
                            
                        });
                        
                        $("#candidateList tbody tr").mouseover( function(e) {
                            $(this).attr("oldClass", $(this).attr("class"));
                            $(this).attr("class", "mouseover");
                            $(this).css("cursor", "pointer");
                        });
                        
                        $("#candidateList tbody tr").mouseout( function(e) {
                            $(this).attr("class", $(this).attr("oldClass"));
                            $(this).css("cursor", "default");
                        });
                        
                        if ($("#candidateList tbody tr").length > 1) {
                            alreadyLinked = true;
                        }
                    }
                    
                }
            } );
            
            $("tfoot input").keyup( function () {
                /* Filter on the column (the index) of this element */
                dataTable.fnFilter( this.value, $("tfoot input").index(this) );
            } );
             
            /*
             * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
             * the footer
             */
            $("tfoot input").each( function (i) {
                asInitVals[i] = this.value;
            } );
             
            $("tfoot input").focus( function () {
                if ( this.className == "search_init" )
                {
                    this.className = "";
                    this.value = "";
                }
            } );
             
            $("tfoot input").blur( function (i) {
                if ( this.value == "" )
                {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            } );
            
        } );
    </script>

<!--<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>-->
{% endblock %}