{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph/js/jquery.graph.js') }}"></script>
    
    <script type="text/javascript">
        array_max = function( array ){
            return Math.max.apply( Math, array );
        };
        
        array_min = function( array ){
            return Math.min.apply( Math, array );
        };
        
        function dataReceived(data) {
            var plot_data = [];
            for (ii in data.light_curve.mjd) {
                plot_data[ii] = {"x" : data.light_curve.mjd[ii], "y" : data.light_curve.mag[ii], "err" : data.light_curve.error[ii]};
            }

            // Define some options
            options = {
                xaxis:{ label:'Day (MJD - Epoch)' },
                yaxis: { label: 'R (mag)' }
            };
            
            var graph = $.graph('placeholder', {
                data: plot_data,
                color: "#1E67BA",
                points: { show: true, radius: 1.5 },
                lines: { show: false, width: 4 },
                hoverable: true, 
                clickable: true
            }, options);
            
        }
        
        function parsePTFImageQuery(textData) {
            alert(textData);   
        }
        
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/candidates/data?matchedSourceID={{ light_curve.matchedSourceID }}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: dataReceived
            });
        });
    </script>
               
    
{% endblock %}

{% block body %}
    
    {% if light_curve != None %}
        <table width="1400px" class="info">
            <tr class="titles">
                <td><font class="key">Source ID:</font> <font class="val">{{light_curve.matchedSourceID}}</font></td>
                <td><font class="key">Num. Observations:</font> <font class="val">{{light_curve.num_obs}}</font></td>
                <td><font class="key">Baseline:</font> <font class="val">{{"{:.2f}".format(light_curve.data["mjd"][-1]-light_curve.data["mjd"][0])}} days</font></td>
                <td><font class="key">RA:</font> <font class="val">{{"{:.5f}".format(light_curve.ra)}}</font></td>
                <td class="last"><font class="key">Dec:</font> <font class="val">{{"{:.5f}".format(light_curve.dec)}}</font></td>
            </tr>
            <tr>
                <td><a href="/candidates/plot?matchedSourceID={{ previous_id }}">Previous [{{ previous_id }}]</a>&nbsp;&nbsp;<a href="/candidates/plot?matchedSourceID={{ next_id }}">Next [{{ next_id }}]</a></td>
                <td colspan="2"></td>
                <td colspan="2"><a target="_blank" href='http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{light_curve.ra}}%20{{light_curve.dec}}&Radius=5&Radius.unit=arcsec'>Search in SIMBAD</a><br/><a  target="_blank" href='http://cas.sdss.org/dr7/en/tools/search/x_radial.asp?ra={{light_curve.ra}}&dec={{light_curve.dec}}&radius=5&format=csv&topnum=20'>Search in SDSS</a></td>
            </tr>
        </table>
        <br/>
        
        <table width="100%">
            <tr>
                <td width="80%"><div id="placeholder" style="width:100%;height:650px;z-index:10000;"></div></td>
                <td>SDSS Image<br/>
                    <img width="200" height="200" onerror="this.src='{{ url_for('static', filename='images/no-image.jpg') }}';" src="http://casjobs.sdss.org/ImgCutoutDR7/getjpeg.aspx?ra={{light_curve.ra}}&dec={{light_curve.dec}}&width=40&height=40" />
                    <br/><br/>
                    PTF Image<br/>
                    <img height="200px" onerror="this.src='{{ url_for('static', filename='images/no-image.jpg') }}';" src="/candidates/ptfimage?matchedSourceID={{ light_curve.matchedSourceID }}" />
                </td>
                
            </tr>
            <tr>
                <td></td>
                <td align="center"></td>
            </tr>
        </table>
        <!--<input id="reset" type="button" value="Reset axes" />-->
        
    {% endif %}
    <!--<pre><span class=ig>some code!</span></pre>-->

<!--<a href="http://github.com/mitsuhiko/flask"><img style="position: fixed; top: 0; right: 0; border: 0;"
  src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>-->
{% endblock %}